pydantic<2
pathlib
pytest
pytest-mock
pyarrow
tables #for hdf5 reading
pandas==2.2.2
geopandas
flake8
matplotlib
hypy@git+https://gitlab.sh.nextgenwaterprediction.com/NGWPC/hypy.git@development#egg=hypy&subdirectory=python
hydrotools.nwis_client
hydrotools.metrics
