geopandas
hydrotools.events==1.1.5
hydrotools.metrics==1.3.3
hydrotools.nwis_client==3.3.1
hypy@git+https://github.com/NOAA-OWP/hypy.git@master#egg=hypy&subdirectory=python
matplotlib
netCDF4==1.6.3
numpy==1.26.4
pandas
pydantic~=2.11.9
pyswarms~=1.3.0
pytest
pytest-mock
PyYAML
Requests
scipy
