#attr==0.3.2
geopandas~=0.14.4
#hydrotools._restclient==4.0.0
hydrotools.events==1.1.5
hydrotools.metrics==1.3.3
hydrotools.nwis_client==3.3.1
hypy@git+https://gitlab.sh.nextgenwaterprediction.com/NGWPC/hypy.git@development#egg=hypy&subdirectory=python
#hypy==0.0.2
matplotlib~=3.10.5
netCDF4==1.6.3
#netCDF4==1.7.2
numpy~=2.3.2
pandas~=2.3.1
pydantic==2.11.4
pyswarms~=1.3.0
pytest~=8.3.2
PyYAML~=6.0.2
Requests~=2.32.4
scipy~=1.16.1
#typing_extensions~=4.14.1
